
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    background-image: url("foodiegoLoginBackimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgba(39, 39, 39, 0.4);
    margin-top: 100px; /* Added margin-top to account for the nav height */
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
    z-index: 100;
}

.nav-logo p {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover, .active {
    border-bottom: 2px solid #fff;
}

.categories {
    padding: 2em;
    
}

.category-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-card {
    margin: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
    background-color: #fff;
}

.category-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.category-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

.category-card p {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}

.category-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}