@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    /*border: .1rem solid red;*/
}

:root{
    --lead: #212121;
    --gold-finger: #F2BD12;
    --eye-ball: #FFFDF7;
    --hint-yellow: #FCF1CC;
    --pure-white: #FFF;
}
a{
    font-size: 1.1rem;
    text-decoration: none;
    color:var(--lead);
    font-weight: bold;
    
    
}
.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
li{
    list-style: none;
}
.between{
    justify-content: space-between;
}
.gap-2{
    gap: 2rem;
}
.gap-3{
    gap: 3rem;
}

.p-top{
    padding-top: 10rem;
}
.text-center{
    text-align: center;
}

.mt-4{
    margin: top 4rem;
}



.navbar{
    min-height: 14vh;
}
body {
    /* background-image: url("foodiegoLoginBackimg.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: white;
}
.wrapper{
    max-width: 1400px;
    margin: auto;
    padding-inline: 1.5rem;
}


img{
    max-width: 100%;
    height:auto;
    margin: auto;
    display: block;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
}
.btn{
    display: inline-block;
    padding: .9rem 2rem;
    background: darkred;
    border-radius: 1rem;
    font-size: 1.1rem;
    box-shadow: rgb(0, 0, 0,0.1)0 2px 1px;
    transition: .3s ease-in-out;
     
}
.btn:hover{
    background: var(--lead);
    color:white;
}
.cart-icon{
    color: var(--lead);
    font-size: 1.3rem;
    position: relative;
}
.cart-icon .cart-value{
    position: absolute;
    top: 50%;
    right: -10px;
    font-size: .85rem;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: darkred;
    text-align: center;
    line-height: 20px;
}
.desktop-action .hamburger{
    font-size: 1.5rem;
    display: none;
}

.mobile-menu{
    display: none;
}
/* section 1 */
.hero-section{
    min-height: calc(100vh - 14vh);
}
.content,
.image-container,
.service-card{
    flex: 1;
    flex-basis: 300px;
}
h1{
    font-size:5.6vw;
    color: var(--lead);
}
h1 span{
    color: darkred;
}
p{
    font-size: 1.25rem;
    color: gray;
    line-height: 1.8rem;
    font-weight: 400;
}
.para{
    margin-block: 2rem;
    max-width: 550px;
}
.social-icon{
    background:darkred;
    width: 3rem;
    aspect-ratio: 1;
    font-size: 1.2rem;
    border-radius: 1rem;
    text-align: center;
    line-height: 3rem;
    box-shadow: rgb(0, 0, 0,0.1)0 2px 1px;
    transition: .3s ease-in-out;
}
.social-icon:hover{
    background-color: var(--lead);
    color: var(--pure-white);
}
h5{
    font-size: 1.2rem;
    letter-spacing: .2rem;
    color: darkred;
    font-weight: bold;
    text-transform: uppercase;
}
h2{
    font-size: 3.7rem;
    text-transform: capitalize;
    color: black;
    font-weight: bold;
}
h3{
    font-size: 2rem;
    text-transform: capitalize;
    color: black;
    font-weight: bold;
}


/*media queries*/
@media  screen and(max-width:780px){
    /*header styling*/

    .navlist,
.desktop-action .btn{
    display: none;
}
.desktop-action .hamburger{
    display: block;
}
.mobile-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 20%;
    left: -100%;
    transform: translateX(-50%);
    width: 20rem;
    padding: 2rem;
    background: var(--pure-white);
    border: .1rem solid var(--gold-finger);
    border-radius: 2rem;
    box-shadow: 
    rgba(0,0,0,0.05)8px 8px 8px,
    rgba(0,0,0,0.05)8px 8px 8px inset;
    transition: all.5s ease-in-out;
}
.mobile-menu-active{
    left: 50%;
    transform: translateX(-50%);
}


/*section styling*/
/*hero styling*/
  h1 {
    font-size: 3.6rem;   /* instead of 5.6vw */
  }

  .content {
    padding-top: 3rem;
    text-align: center;
  }

  .gap-2 {
    gap: 1.4rem;
  }

  .gap-4 {
    gap: 2rem;          /* reduce gap */
  }
        /*section 01*/
        h2{
            font-size: 3rem;
        }

}


.service-card h3{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
/*section 02*/
.order-card{
    flex: 1;
    flex-basis: 300px;
    background: var(--pure-white);
    padding: 0 1rem 2rem 1rem;
    border: .1rem solid darkred;
    border-radius: 2rem;
    box-shadow: 
    rgba(0,0,0,0.05)8px 8px 8px,
    rgba(0,0,0,0.05)8px 8px 8px inset;
}
.order-card img{
    width: 15rem;
    filter:drop-shadow(
        rgba(0, 0, 0, 0.2) 0 10px 10px
    );
}
h4{
    font-size: 1.8rem;
    color: var(--lead);
}

.order-card .price{
    font-size: 1.7rem;
    color: darkred;
    padding: 1.3rem 0 2rem 0 ;

}


/* section 3 */

.swiper {
      width: 100%;
      height: 100%;
    }


