/* CategoriesPage specific styles */
.categories-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgba(39, 39, 39, 0.4);
    margin-top: 100px;
}

.categories-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
    z-index: 100;
}

.categories-nav-logo p {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.categories-nav-menu ul {
    display: flex;
}

.categories-nav-menu ul li {
    list-style-type: none;
}

.categories-nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.categories-link:hover, .categories-active {
    border-bottom: 2px solid #fff;
}

.categories-section {
    padding: 2em;
}

.categories-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categories-card {
    margin: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
    background-color: #fff;
}

.categories-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.categories-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

.categories-card p {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}