/* HomePage specific styles */
.home-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgba(39, 39, 39, 0.4);
    margin-top: 100px;
}

.home-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
    z-index: 100;
}

.home-nav-logo p {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.home-nav-menu ul {
    display: flex;
}

.home-nav-menu ul li {
    list-style-type: none;
}

.home-nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.home-link:hover, .home-active {
    border-bottom: 2px solid #fff;
}

.home-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.home-search-bar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 30px 0 0 30px;
    width: 400px;
}

.home-search-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 0 30px 30px 0;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.home-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    color: #fff;
}

.home-featured-recipes {
    padding: 2em;
}

.home-featured-recipes h2,
.home-featured-recipes h3 {
    color: white;
    font-weight: bold;
}

.home-recipe-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-recipe-card {
    margin: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    background-color: rgba(255, 255, 255, 0.9);
}

.home-recipe-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.home-recipe-card h3 {
    color: var(--lead);
    margin: 10px 0;
}

.home-recipe-card p {
    color: #666;
}