/* MenuPage specific styles */
.menu-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgba(39, 39, 39, 0.4);
}

.menu-nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    line-height: 100px;
    background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
    z-index: 100;
}

.menu-nav-logo p {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.menu-nav-menu ul {
    display: flex;
}

.menu-nav-menu ul li {
    list-style-type: none;
}

.menu-nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.menu-link:hover, .menu-active {
    border-bottom: 2px solid #fff;
}

.menu-section {
    padding: 2em;
    margin-top: 100px;
    color: #fff;
}

.menu-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-category {
    margin: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    background-color: rgba(255, 255, 255, 0.2);
}

.menu-category h2 {
    margin-bottom: 10px;
}

.menu-category ul {
    list-style-type: none;
}

.menu-category ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.menu-category ul li:last-child {
    border-bottom: none;
}